<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
</head>
<body>
  <h1>New Post</h1>
  <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
      Title:
      <input th:field="*{title}" th:value="${post.title}">
      <br>
      Body:
      <input th:field="*{body}" th:value="${post.body}">
      <br>
<!--      <input style="display: none" th:field="*{user_id}" th:value="${activeUserId}">-->
      <input type="submit">
  </form>
</body>
</html>