<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dice Roll</title>
</head>
<body>
<h1>Guess what number the die will land on:</h1>
<h2 th:if="${number}">You seleced: <span th:text="${num}"></span>!</h2>
<h2 th:if="${number}">The die landed on <span th:text="${random}"></span></h2>
<h2 th:if="${number}"><span th:if="${num} == ${random}">WINNER!!!!!!</span></h2>
<h2 th:if="${num} != ${random}">LOSER!!!!!!</h2>
    <ul>
        <li><a href="/roll-dice/1">1</a></li>
        <li><a href="/roll-dice/2">2</a></li>
        <li><a href="/roll-dice/3">3</a></li>
        <li><a href="/roll-dice/4">4</a></li>
        <li><a href="/roll-dice/5">5</a></li>
        <li><a href="/roll-dice/6">6</a></li>
    </ul>
</body>
</html>