<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>template</title>
</head>
<body>


<!--header not log in-->
<header th:fragment="my-header-login" class="mb-3">
  <h3 class="ms-2">yourSTORY</h3>
  <h3 class="my-auto me-2">Not Registered? Click here!</h3>
</header>


<!--header once logged in-->
<header th:fragment="my-header" class="mb-3">
    <h3 class="ms-2">yourSTORY</h3>
<!--    need a dropdown with links to main feed (index order by id desc), create new, profiles (with links to users), my profile (which shows posts of one user), and logout-->
</header>



<!--footer-->
<footer th:fragment="my-footer"></footer>
</body>
</html>